.addEmployeeForm{
    width: 80%;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    border: 1px solid #eee;
    background-color: #e4e4e4;
}

.form{
    align-items: center;
}

.InputElement{
    outline: none;
    display: block;
    font: inherit;
    padding: 8px 10px;
    background-color: white;
    border: 1px solid #ccc;
    width: 40%;
    margin: 0.4rem 1.7rem;
    box-sizing: border-box;
    border-radius: 3.5px;
    display: inline-block;
}

.button{
    margin: 0.6rem 3rem;
    width: 6rem;
    font-size: 1.1rem;
    padding: 0.6rem;
    border-radius: 0.2rem
}